<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <h3>Contract list</h3>

    <table>
        <thead>
        <tr>
            <th>Contract ID</th>
            <th>Renter ID</th>
            <th>Car ID</th>
            <th>From date</th>
            <th>To date</th>
            <th>Max KM</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract: ${rentalcontracts}">
            <td th:text="${contract.contractID}"></td>
            <td th:text="${contract.renterID}"></td>
            <td th:text="${contract.carID}"></td>
            <td th:text="${contract.fromDate}"></td>
            <td th:text="${contract.toDate}"></td>
            <td th:text="${contract.maxKM}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>