<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create new renter</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <h1>Create new renter</h1>

    <form action="/createRenter" method="post">
        <input type="text" name="firstname" placeholder="First name">
        <input type="text" name="lastname" placeholder="Last name">
        <input type="text" name="mobile" placeholder="Mobile">
        <input type="text" name="phone" placeholder="Phone">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="zip" th:value="${chosenZip.zip}" readonly>
        <input type="text" name="street" placeholder="Street address">
        <input type="text" name="licenseNumber" placeholder="License No.">
        <input type="text" name="driverSinceDate" placeholder="Driver since (YYYY-MM-DD)">
        <input type="submit" value="Create new renter">
    </form>
    <a href="/">
        <button type = "button" id="homepage">
            Return home
        </button>
    </a>
</body>
</html>