<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create zip</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
    <body>
    <a href="/">
        <button type = "button" id="homepage">
            Return home
        </button>
    </a>
    <h1>
            Create new zip
        </h1>

        <form action="/createZip" method="post">
            <input type="text" name="zip" placeholder="Zip code">
            <input type="text" name="city" placeholder="City">
            <input type="text" name="country" placeholder="Country">
            <input type="submit" value="Add new zip">
        </form>
    </body>
</html>