<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Front page</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>

    <h1 style="font-size: 40pt; display: flex; justify-content: center; align-items: center; font-family: 'Calibri Light'">
        Kailua Car Rental </h1>
    <div id ="homePageButtons">
    <a href="/renter">
        <button type = "button" id="mainButton">
            Manage renters
        </button>
    </a>

    <a href="/car">
        <button type = "button" id="mainButton">
            Manage cars
        </button>
    </a>

    <a href="/contract">
        <button type = "button" id="mainButton">
            Manage contracts
        </button>
    </a>
    </div>
<br>
<div id ="homePageButtons">
    <img src="https://www.gocaymancarrental.com/images/car_rantal.png" alt="Car rental services">
</div>
</body>
</html>