table{
    border-collapse: collapse;
    width: 85%;
}
th{
    background-color: lightblue;
}
td, th{
    border: 1px solid black;
    text-align: left;
    padding: 2px;
}
tr:nth-child(even){
    background-color: lightgray;
}
tr{
    height: 40px;
}
button{
    width: 130px;
    text-align: center;
}

#homepage{
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: burlywood;
}

#addNew{
    margin-top: 5px;
}

#deleteButton{
    background-color: crimson;
    color:white;
    margin-bottom: 1px;
}

#mainButton{
    background-color: azure;
    margin: 10px;
    width: 400px;
    height: 120px;
    font-size: 30pt;
    font-weight: bold;
}

#homePageButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}